<html>

<head>
  <title> Lofin Form</title>
  <!-- <link rel="stylesheet" href="style.css"> -->
</head>

<body>
  <div class="container">
    <form (ngSubmit)="login()">
      <label>Username</label>
      <input type="text" name="Username" placeholder="Enter Email ID"><br/>

      <label>Password</label>
      <input type="password" name="password" placeholder="Enter password">


      <input type="checkbox" checked="checked"> Reminder me<br/>
      <input type="submit" value="Login"><br/>
        <span>Forgot<a href="#">Password</a></span>
  </form>
</div>
</body>

</html>