<nav>
    <input type="checkbox" id="check">
    <label for="check" class="menu-icon">
       <i class="fas fa-bars checkbtn"></i>
    </label>
    <div class="logo-container">

        <label class="logo">Welcome to Sunkonnect</label>
      </div>
      <div class="text">
   <ul>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/services">Services</a></li>
      <li><a routerLink="/contact">Contact</a></li>
      <li><a routerLink="/feedback">Feedback</a></li>
       <!-- <button (onclick)="navigate()">Navigate</button> -->
   </ul>
</div>
 </nav>

 <app-sidebar></app-sidebar>
